@import "tailwindcss";



.merriweather-header{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight:600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-slab-body{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
.roboto-slab-heading{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;      
}